<div fxLayout="column" fxLayoutAlign="space-evenly stretch">
  <h1>Cliente</h1>
  <div
    class="container"
    fxLayout="column wrap"
    fxLayoutAlign="space-evenly start"
  >
    <div fxLayout="row" fxLayoutAlign="space-between stretch">
      <div
        fxLayout="column"
        fxFlex="30"
        fxLayoutAlign="space-arround start"
        style="padding-left: 2em;"
      >
        <mat-form-field appearance="outline" color="accent">
          <mat-label>Numero de cliente</mat-label>
          <input
            matInput
            placeholder="Placeholder"
            value="{{ poliza?.cliente?.id }}"
            disabled
          />
        </mat-form-field>
      </div>
      <div
        fxLayout="column"
        fxFlex="30"
        fxLayoutAlign="space-arround start"
        style="padding-left: 2em;"
      >
        <mat-form-field appearance="outline" color="accent">
          <mat-label>Nombre</mat-label>
          <input
            matInput
            placeholder="Placeholder"
            value="{{ poliza?.cliente?.nombre }}"
            disabled
          />
          <!-- <mat-icon matSuffix>sentiment_very_satisfied</mat-icon> -->
          <!-- <mat-hint>Hint</mat-hint> -->
        </mat-form-field>
      </div>
      <div
        fxLayout="column"
        fxFlex="30"
        fxLayoutAlign="space-arround start"
        style="padding-left: 2em;"
      >
        <mat-form-field appearance="outline" color="accent">
          <mat-label>Apellido</mat-label>
          <input
            matInput
            placeholder="Placeholder"
            value="{{ poliza?.cliente?.apellido }}"
            disabled
          />
          <!-- <mat-icon matSuffix>sentiment_very_satisfied</mat-icon> -->
          <!-- <mat-hint>Hint</mat-hint> -->
        </mat-form-field>
      </div>
    </div>
  </div>
  <h1>Poliza</h1>
  <div
    class="container"
    fxLayout="column wrap"
    fxLayoutAlign="space-evenly start"
  >
    <div fxLayout="row" fxLayoutAlign="space-between stretch">
      <div
        fxLayout="column"
        fxFlex="30"
        fxLayoutAlign="space-arround start"
        style="padding-left: 2em;"
      >
        <mat-form-field appearance="outline" color="accent">
          <mat-label>Numero de poliza</mat-label>
          <input
            matInput
            placeholder="Placeholder"
            value="{{ poliza?.numeroDePoliza }}"
            disabled
          />
        </mat-form-field>
      </div>
      <div
        fxLayout="column"
        fxFlex="30"
        fxLayoutAlign="space-arround start"
        style="padding-left: 2em;"
      >
        <mat-form-field appearance="outline" color="accent">
          <mat-label>Marca</mat-label>
          <input
            matInput
            placeholder="Placeholder"
            value="{{ poliza?.modelo?.marca.nombre }}"
            disabled
          />
          <!-- <mat-icon matSuffix>sentiment_very_satisfied</mat-icon> -->
          <!-- <mat-hint>Hint</mat-hint> -->
        </mat-form-field>
      </div>
      <div
        fxLayout="column"
        fxFlex="30"
        fxLayoutAlign="space-arround start"
        style="padding-left: 2em;"
      >
        <mat-form-field appearance="outline" color="accent">
          <mat-label>Modelo</mat-label>
          <input
            matInput
            placeholder="Placeholder"
            value="{{ poliza?.modelo?.nombre }}"
            disabled
          />
          <!-- <mat-icon matSuffix>sentiment_very_satisfied</mat-icon> -->
          <!-- <mat-hint>Hint</mat-hint> -->
        </mat-form-field>
      </div>
    </div>
    <div
      class="container"
      fxLayout="column wrap"
      fxLayoutAlign="space-evenly start"
    >
      <div fxLayout="row" fxLayoutAlign="space-between stretch">
        <div
          fxLayout="column"
          fxFlex="30"
          fxLayoutAlign="space-arround start"
          style="padding-left: 2em;"
        >
          <mat-form-field appearance="outline" color="accent">
            <mat-label>Patente</mat-label>
            <input
              matInput
              placeholder="Placeholder"
              value="{{ poliza?.patente }}"
              disabled
            />
          </mat-form-field>
        </div>
        <div
          fxLayout="column"
          fxFlex="30"
          fxLayoutAlign="space-arround start"
          style="padding-left: 2em;"
        >
          <mat-form-field appearance="outline" color="accent">
            <mat-label>Fecha inicio de vigencia</mat-label>
            <input
              matInput
              placeholder="Placeholder"
              value="{{ poliza?.fechaInicioVigencia }}"
              disabled
            />
            <!-- <mat-icon matSuffix>sentiment_very_satisfied</mat-icon> -->
            <!-- <mat-hint>Hint</mat-hint> -->
          </mat-form-field>
        </div>
        <div
          fxLayout="column"
          fxFlex="30"
          fxLayoutAlign="space-arround start"
          style="padding-left: 2em;"
        >
          <mat-form-field appearance="outline" color="accent">
            <mat-label>Fecha fin de vigencia</mat-label>
            <input
              matInput
              placeholder="Placeholder"
              value="{{ poliza?.fechaFinVigencia }}"
              disabled
            />
            <!-- <mat-icon matSuffix>sentiment_very_satisfied</mat-icon> -->
            <!-- <mat-hint>Hint</mat-hint> -->
          </mat-form-field>
        </div>
        <div
          fxLayout="column"
          fxFlex="100"
          fxLayoutAlign="space-arround start"
          style="padding-left: 2em;"
        >
          <table
            *ngIf="cuotas != undefined"
            mat-table
            [dataSource]="dataSource"
            class="mat-elevation-z2 table"
          >
            <!-- Checkbox Column -->
            <ng-container matColumnDef="select">
              <th mat-header-cell *matHeaderCellDef>
                <mat-checkbox
                  (change)="$event ? masterToggle() : null"
                  [checked]="selection.hasValue() && isAllSelected()"
                  [indeterminate]="selection.hasValue() && !isAllSelected()"
                  [aria-label]="checkboxLabel()"
                  
                >
                </mat-checkbox>
              </th>
              <td mat-cell *matCellDef="let row">
                <mat-checkbox
                  (click)="$event.stopPropagation()"
                  (change)="$event ? selection.toggle(row) : null"
                  [checked]="selection.isSelected(row)"
                  [aria-label]="checkboxLabel(row)"
                  [disabled]="!row?.seleccionable"
                >
                </mat-checkbox>
              </td>
            </ng-container>

            <!-- Position Column -->
            <ng-container matColumnDef="numeroCuota">
              <th mat-header-cell *matHeaderCellDef>Cuota</th>
              <td mat-cell *matCellDef="let element">
                {{ element.numeroCuota }}
              </td>
            </ng-container>

            <!-- Name Column -->
            <ng-container matColumnDef="valorOriginal">
              <th mat-header-cell *matHeaderCellDef>Valor original</th>
              <td mat-cell *matCellDef="let element">
                {{ element.valorOriginal }}
              </td>
            </ng-container>

            <!-- Weight Column -->
            <ng-container matColumnDef="valorActual">
              <th mat-header-cell *matHeaderCellDef>Valor Actual</th>
              <td mat-cell *matCellDef="let element">
                {{ element.valorActual }}
              </td>
            </ng-container>

            <tr
              mat-header-row
              *matHeaderRowDef="displayedColumns; sticky: true"
            ></tr>
            <tr
              mat-row
              *matRowDef="let row; columns: displayedColumns"
              
              [ngClass]="{
                hovered: row.hovered,
                highlighted: selection.isSelected(row)
              }"
              (mouseover)="row.hovered = true"
              (mouseout)="row.hovered = false"
              (click)="row.seleccionable && selection.toggle(row)"
    
            >
              >
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div fxLayout="column" fxLayoutAlign="space-evenly stretch" class="fila">
    <div fxLayout="row" fxLayoutAlign="end strech">
        <button mat-raised-button type="button" style="background-color:#FFFFFF;"
        [mat-dialog-close]="true" [routerLink]="['/menu']" class="button">Cancelar</button>
        <button mat-raised-button style="background-color:#36AE47;" (click)="pagar()" class="button" [disabled]="selection.selected.lenght==0">Aceptar</button>
    </div> 
    </div> 
</div>
<!-- [ngStyle]="row.excluded && {'background-color': 'lightgrey'}" -->