<!-- DEFINO EL LAYOUT PAR LAS FILAS DE BOTONES -->
<div class="container" fxLayout="column wrap" fxLayoutAlign="space-around">
  <!--  -->
  <!-- NUEVA FILA DE BOTONES -->
  <!--  -->
  <div fxLayout="row" fxLayoutAlign="center" fxLayout.sm="column" fxLayout.xs="column">
    <!-- BOTON -->
    <div fxLayout="column" fxFlex="30" fxLayoutAlign="center" >
        <button mat-raised-button class="menu-button color-amarillo-claro"  [routerLink]="['/nueva']">
          <div fxLayout="row" fxLayoutAlign="space-around">
            <div fxLayout="column" fxFlex="80" fxLayoutAlign="center">
              Nueva poliza
            </div>
            <div fxLayout="column" fxFlex="20" fxLayoutAlign="stretch">
              <img src="./../../../assets/icons/privacy-policy.svg" alt="poliza" width="76" height="81" class="icon">
            </div>
          </div>
        </button>
    </div>
    <!-- BOTON -->
    <div fxLayout="column" fxFlex="30" fxLayoutAlign="center" >
      <button mat-raised-button class="menu-button color-celeste">
        <div fxLayout="row" fxLayoutAlign="space-evenly">
          <div fxLayout="column" fxFlex="80" fxLayoutAlign="center">
            Consultar poliza
          </div>
          <div fxLayout="column" fxFlex="20" fxLayoutAlign=" stretch">
            <img src="./../../../assets/icons/search.svg" alt="poliza" width="76" height="81" class="icon">
          </div>
        </div>
      </button>
    </div>
  </div>
  <!--  -->
  <!-- NUEVA FILA DE BOTONES -->
  <!--  -->
  <div fxLayout="row" fxLayoutAlign="center" fxLayout.sm="column" fxLayout.xs="column">
    <!-- BOTON -->
    <div fxLayout="column" fxFlex="30" fxLayoutAlign="center" >
      <button mat-raised-button  class="menu-button color-celeste-oscuro">
        <div fxLayout="row"  fxLayoutAlign="space-evenly">
          <div fxLayout="column" fxFlex="80" fxLayoutAlign="center">
            Agregar cliente
          </div>
          <div fxLayout="column" fxFlex="20" fxLayoutAlign=" stretch">
            <img src="./../../../assets/icons/add-user.svg" alt="poliza" width="76" height="81" class="icon">
          </div>
        </div>
      </button>
    </div>
    <!-- BOTON -->
    <div fxLayout="column" fxFlex="30" fxLayoutAlign="center" >
      <button mat-raised-button class="menu-button color-verde">
        <div fxLayout="row" fxLayoutAlign="space-evenly">
          <div fxLayout="column" fxFlex="80" fxLayoutAlign="center">
            Consultar cliente
          </div>
          <div fxLayout="column" fxFlex="20" fxLayoutAlign=" stretch">
            <img src="./../../../assets/icons/question.svg" alt="poliza" width="76" height="81" class="icon">
          </div>
        </div>
      </button>
    </div>
  </div>
  <!--  -->
  <!-- NUEVA FILA DE BOTONES -->
  <!--  -->
  <div fxLayout="row" fxLayoutAlign="center" fxLayout.sm="column" fxLayout.xs="column">
    <!-- BOTON -->
    <div fxLayout="column" fxFlex="30" fxLayoutAlign="center" >
      <button mat-raised-button class="menu-button color-verde">
        <div fxLayout="row" fxLayoutAlign="space-evenly">
          <div fxLayout="column" fxFlex="80" fxLayoutAlign="center">
            Nueva propuesta<br> de renovacion
          </div>
          <div fxLayout="column" fxFlex="20" fxLayoutAlign="stretch">
            <img src="./../../../assets/icons/nueva-propuesta.svg" alt="poliza" width="76" height="81" class="icon">
          </div>
        </div>
      </button>
    </div>
    <!-- BOTON -->
    <div fxLayout="column" fxFlex="30" fxLayoutAlign="center" >
      <button mat-raised-button class="menu-button color-amarillo">
        <div fxLayout="row" fxLayoutAlign="space-evenly">
          <div fxLayout="column" fxFlex="80" fxLayoutAlign="center">
            Actualizar factores<br> de premios
          </div>
          <div fxLayout="column" fxFlex="20" fxLayoutAlign="stretch">
              <img src="./../../../assets/icons/information.svg" alt="poliza" width="76" height="81" class="icon">
            </div>
        </div>
      </button>
    </div>
  </div>
  <!--  -->
  <!-- NUEVA FILA DE BOTONES -->
  <!--  -->
  <div fxLayout="row" fxLayoutAlign="center" fxLayout.sm="column" fxLayout.xs="column">
    <!-- BOTON -->
    <div fxLayout="column" fxFlex="30" fxLayoutAlign="center" >
      <button mat-raised-button class="menu-button color-celeste">
        <div fxLayout="row" fxLayoutAlign="space-evenly">
          <div fxLayout="column" fxFlex="80" fxLayoutAlign="center">
            Generar listado de propuesta de renovacion
          </div>
          <div fxLayout="column" fxFlex="20" fxLayoutAlign=" stretch">
            <img src="./../../../assets/icons/printer.svg" alt="imprimir" width="76" height="81" class="icon">
          </div>
        </div>
      </button>
    </div>
    <!-- BOTON -->
    <div fxLayout="column" fxFlex="30" fxLayoutAlign="center" >
      <button mat-raised-button  class="menu-button color-celeste-oscuro">
        <div fxLayout="row" fxLayoutAlign="space-evenly">
          <div fxLayout="column" fxFlex="80" fxLayoutAlign="center">
            Generar informe del resultado mensual
          </div>
          <div fxLayout="column" fxFlex="20" fxLayoutAlign="stretch">
              <img src="./../../../assets/icons/printer.svg" alt="imprimir" width="76" height="81" class="icon">
            </div>
        </div>
      </button>
    </div>
  </div>
  <!--  -->
  <!-- NUEVA FILA DE BOTONES -->
  <!--  -->
  <div fxLayout="row" fxLayoutAlign="center" fxLayout.sm="column" fxLayout.xs="column">
    <!-- BOTON -->
    <div fxLayout="column" fxFlex="30" fxLayoutAlign="center" >
      <button mat-raised-button class="menu-button color-amarillo">
        <div fxLayout="row" fxLayoutAlign="space-evenly">
          <div fxLayout="column" fxFlex="80" fxLayoutAlign="center">
            Registrar pago
          </div>
          <div fxLayout="column" fxFlex="20" fxLayoutAlign="stretch">
              <img src="./../../../assets/icons/notes.svg" alt="dinero" width="76" height="81" class="icon">
            </div>
        </div>
      </button>
    </div>
    
  </div>
</div>
  