<div fxLayout="column" fxLayoutAlign="space-evenly stretch">
    <form [formGroup]="polizaForm" (ngSubmit)="confirmar()">
        <!-- <mat-divider [inset]="true"></mat-divider> -->
        <h1> Cliente
         <mat-error *ngIf="clienteFormControl.hasError('required')">Cliente invalido - Reinicie el proceso</mat-error>
        </h1>
        <div class="container" fxLayout="column wrap" fxLayoutAlign="space-evenly start">
            <div fxLayout="row" fxLayoutAlign="space-between stretch">
                <div fxLayout="column" fxFlex="30" fxLayoutAlign="space-arround start" style="padding-left: 2em;">
                    <mat-form-field appearance="outline" color="accent">
                        <mat-label>Numero de cliente</mat-label>
                        <input matInput placeholder="Placeholder" value={{cliente?.id}} formControlName="clienteFormControl" required>
                    </mat-form-field>
                </div>
                <div fxLayout="column" fxFlex="30" fxLayoutAlign="space-arround start" style="padding-left: 2em;">
                    <mat-form-field appearance="outline" color="accent">
                        <mat-label>Nombre</mat-label>
                        <input matInput placeholder="Placeholder" value={{cliente?.nombre}} disabled>
                        <!-- <mat-icon matSuffix>sentiment_very_satisfied</mat-icon> -->
                        <!-- <mat-hint>Hint</mat-hint> -->
                    </mat-form-field>
                </div>
                <div fxLayout="column" fxFlex="30" fxLayoutAlign="space-arround start" style="padding-left: 2em;">
                    <mat-form-field appearance="outline" color="accent">
                        <mat-label>Apellido</mat-label>
                        <input matInput placeholder="Placeholder" value={{cliente?.apellido}} disabled>
                        <!-- <mat-icon matSuffix>sentiment_very_satisfied</mat-icon> -->
                        <!-- <mat-hint>Hint</mat-hint> -->
                    </mat-form-field>
                </div>
            </div>
            <!-- </div> -->
            <!-- <div class="container" fxLayout="column wrap" fxLayoutAlign="space-evenly start"> -->
            <div fxLayout="row" fxLayoutAlign="space-between stretch">
                <div fxLayout="column" fxFlex="30" fxLayoutAlign="space-arround start" style="padding-left: 2em;">
                    <mat-form-field appearance="outline" color="accent">
                        <mat-label>Tipo de documento</mat-label>
                        <input matInput placeholder="Placeholder" value="{{cliente?.tipoDeDocumento}}" disabled>
                        <!-- <mat-icon matSuffix>sentiment_very_satisfied</mat-icon> -->
                        <!-- <mat-hint>Hint</mat-hint> -->
                    </mat-form-field>
                </div>
                <div fxLayout="column" fxFlex="30" fxLayoutAlign="space-arround start" style="padding-left: 2em;">
                    <mat-form-field appearance="outline" color="accent">
                        <mat-label>Numero de documento</mat-label>
                        <input matInput placeholder="Placeholder" value={{cliente?.numeroDeDocumento}} disabled>
                        <!-- <mat-icon matSuffix>sentiment_very_satisfied</mat-icon> -->
                        <!-- <mat-hint>Hint</mat-hint> -->
                    </mat-form-field>
                </div>
                <div fxLayout="column" fxFlex="30" fxLayoutAlign="space-arround start" style="padding-left: 2em;">
                    <mat-form-field appearance="outline" color="accent">
                        <mat-label>Domicilio</mat-label>
                        <input matInput placeholder="Placeholder" value={{domicilio}} disabled color="black">
                        <!-- <mat-icon matSuffix>sentiment_very_satisfied</mat-icon> -->
                        <!-- <mat-hint>Hint</mat-hint> -->
                    </mat-form-field>
                </div>
            </div>
        </div>
        <mat-divider [inset]="true"></mat-divider>
        <!-- DATOS POLIZA -->
        <h1>Poliza</h1>
        <div fxLayout="column" fxLayoutAlign="space-evenly stretch" class="fila">
            <div fxLayout="row wrap" fxLayoutAlign="stretch">
                <div fxLayout="column" fxLayoutAlign="space-arround start" style="padding-left: 2em;">
                    <mat-form-field appearance="outline" color="accent" required>
                        <mat-label>Provincia</mat-label>
                        <mat-select placeholder="Seleccionar" [(value)]="provinciaSelected"
                            (selectionChange)="selectProvinciaChange($event.value)" formControlName="provinciaFormControl" required>
                            <mat-option *ngFor="let provincia of provincias" [ngClass]=provincia
                                value={{provincia?.id}}>{{provincia?.nombre}}</mat-option>
                        </mat-select>
                        <mat-error *ngIf="provinciaFormControl.hasError('required')">Debe seleccionar una provincia</mat-error>
                    </mat-form-field>
                </div>
                <div fxLayout="column" fxLayoutAlign="space-arround start" style="padding-left: 2em;">
                    <mat-form-field appearance="outline" color="accent">
                        <mat-label>Localidad</mat-label>
                        <mat-select placeholder="Seleccionar" [disabled]="provinciaSelected==unsigned"
                            [(value)]="localidadSelected" formControlName="localidadFormControl" required>
                            <mat-option *ngFor="let localidad of localidades" [ngClass]=localidad
                                value={{localidad?.id}}>{{localidad?.nombre}}</mat-option>
                        </mat-select>
                        <mat-error *ngIf="localidadFormControl.hasError('required')">Debe seleccionar una localidad</mat-error>
                    </mat-form-field>
                </div>
                <div fxLayout="column" fxLayoutAlign="space-arround start" style="padding-left: 2em;">
                    <mat-form-field appearance="outline" color="accent">
                        
                        <mat-label>Marca</mat-label>
                        <mat-select placeholder="Seleccionar" [(value)]="marcaSelected"
                            (selectionChange)="selectMarcaChange($event.value)" formControlName="marcaFormControl" required>
                            <mat-option *ngFor="let marca of marcas" [ngClass]=marca value={{marca?.id}}>
                                {{marca?.nombre}}</mat-option>
                        </mat-select>
                        <mat-error *ngIf="marcaFormControl.hasError('required')">Debe seleccionar una marca</mat-error>
                    </mat-form-field>
                </div>
                <div fxLayout="column" fxLayoutAlign="space-arround start" style="padding-left: 2em;">
                    <mat-form-field appearance="outline" color="accent">
                        <mat-label>Modelo</mat-label>
                        <mat-select placeholder="Seleccionar" [disabled]="marcaSelected==unsigned" [(value)]="modeloSelected" (selectionChange)="selectModeloChange($event.value)" formControlName="modeloFormControl" required>
                            <mat-option *ngFor="let modelo of modelos" [ngClass]=modelo value={{modelo?.id}}>
                                {{modelo?.nombre}}</mat-option>
                        </mat-select>
                        <mat-error *ngIf="modeloFormControl.hasError('required')">Debe seleccionar un modelo</mat-error>
                    </mat-form-field>
                </div>
                <div fxLayout="column" fxLayoutAlign="space-arround start" style="padding-left: 2em;">
                    <mat-form-field appearance="outline" color="accent">
                        <mat-label>Año</mat-label>
                        <mat-select placeholder="Seleccionar" [disabled]="modeloSelected==unsigned" formControlName="anioFormControl" (selectionChange)="selectAnioChange($event.value)" required>
                            <mat-option *ngFor="let anio of anios" [ngClass]=anio value={{anio?.id}}>
                                {{anio?.anio}}</mat-option>
                        </mat-select>
                        <mat-error *ngIf="anioFormControl.hasError('required')">Debe seleccionar un año de fabricacion</mat-error>
                    </mat-form-field>
                </div>
            </div>
            <div fxLayout="row wrap" fxLayoutAlign="stretch">
                <div fxLayout="column" fxLayoutAlign="space-arround start" style="padding-left: 2em;">
                    <mat-form-field appearance="outline" >
                        <mat-label>N° Motor</mat-label>
                        <!-- <mat-hint>Debe ser de 17 caracteres</mat-hint> -->
                        <input matInput #motorInput maxlength="17" placeholder="" formControlName="motorFormControl" required>
                        <mat-hint align="end">{{motorInput.value.length}} / 17</mat-hint>
                        <mat-error *ngIf="motorFormControl.hasError('minlength') && !motorFormControl.hasError('required')">Debe poseer 17 caracteres</mat-error>
                        <!-- <mat-error *ngIf="motorFormControl.invalid">{{getErrorMessage()}}</mat-error> -->
                        <mat-error *ngIf="motorFormControl.hasError('required')">Campo obligatorio</mat-error>
                        <!-- <mat-icon matSuffix>sentiment_very_satisfied</mat-icon> -->
                    </mat-form-field>
                </div>
                <div fxLayout="column" fxLayoutAlign="space-arround start" style="padding-left: 2em;">
                    <mat-form-field appearance="outline">
                        <mat-label>Chasis</mat-label>
                        <input matInput #chasisInput maxlength="17" placeholder=""  formControlName="chasisFormControl" required>
                        <mat-hint align="end">{{chasisInput.value.length}} / 17</mat-hint>
                        <mat-error *ngIf="chasisFormControl.hasError('minlength') && !chasisFormControl.hasError('required')">Debe poseer 17 caracteres</mat-error>
                        <mat-error *ngIf="chasisFormControl.hasError('required')">Campo obligatorio</mat-error>
                        <!-- <mat-error *ngIf="chasisFormControl.hasError('maxLength') && !chasisFormControl.hasError('required')">Debe poseer 17 caracteres</mat-error> -->
                        <!-- <mat-icon matSuffix>sentiment_very_satisfied</mat-icon> -->

                    </mat-form-field>
                </div>
                <div fxLayout="column" fxLayoutAlign="space-arround start" style="padding-left: 2em;">
                    <mat-form-field appearance="outline">
                        <mat-label>Patente</mat-label>
                        <input matInput placeholder="" formControlName="patenteFormControl" required>
                        <mat-error *ngIf="patenteFormControl.hasError('formatoInvalido') && !patenteFormControl.hasError('required')">
                            Formato invalido</mat-error>
                        <mat-error *ngIf="patenteFormControl.hasError('required')">Campo obligatorio</mat-error>
                        <!-- <mat-icon matSuffix>sentiment_very_satisfied</mat-icon> -->
                    </mat-form-field>
                </div>
                <div fxLayout="column" fxLayoutAlign="space-arround start" style="padding-left: 2em;">
                    <mat-form-field appearance="outline">
                        <mat-label>Kilometros por año</mat-label>
                        <input matInput type="number" #kmInput  placeholder=""  formControlName="kilometrosFormControl" required>
                        <!-- <mat-hint align="end">{{chasisInput.value.length}} / 5</mat-hint> -->
                        <mat-error *ngIf="kilometrosFormControl.hasError('max') && !kilometrosFormControl.hasError('required')">No debe ser mayor a 999,999</mat-error>
                        <mat-error *ngIf="kilometrosFormControl.hasError('required')">Campo obligatorio</mat-error>
                        <!-- <mat-error *ngIf="chasisFormControl.hasError('maxLength') && !chasisFormControl.hasError('required')">Debe poseer 17 caracteres</mat-error> -->
                        <!-- <mat-icon matSuffix>sentiment_very_satisfied</mat-icon> -->

                    </mat-form-field>
                </div>
            </div>
            <div fxLayout="row wrap" fxLayoutAlign="space-arround stretch">
                <div fxLayout="column" fxLayoutAlign="space-arround " style="padding-left: 2em;">
                    <mat-form-field appearance="outline">
                        <mat-label>Suma asegurada</mat-label>
                        <input matInput placeholder="Placeholder" value={{sumaAsegurada}} disabled>
                        <!-- <mat-icon matSuffix>sentiment_very_satisfied</mat-icon> -->
                        <mat-hint>AR$</mat-hint>
                    </mat-form-field>
                </div>
                <div fxLayout="column" fxLayoutAlign="space-arround" style="padding-left: 2em;">
                    <mat-form-field appearance="outline">
                        <mat-label>Nº de siniestros</mat-label>
                        <input matInput placeholder="Placeholder" value={{siniestros}} disabled> 
                        <!-- Ninguno, uno, dos y más de dos. -->
                        <!-- <mat-icon matSuffix>sentiment_very_satisfied</mat-icon> -->
                        <mat-hint>En el ultimo año</mat-hint>
                    </mat-form-field>
                </div>
                <div fxLayout="column wrap" fxLayoutAlign="space-arround start" style="padding-left: 2em;">
                    <mat-checkbox (change)="garage($event)">Garage</mat-checkbox>
                    <mat-checkbox (change)="tracking($event)">Tracking system</mat-checkbox>
                </div>
                <div fxLayout="column" fxLayoutAlign="space-arround start" style="padding-left: 2em;">
                    <mat-checkbox (change)="alarma($event)" >Alarma</mat-checkbox>
                    <mat-checkbox (change)="tuercas($event)" >Tuercas antirobo</mat-checkbox>
                </div>
            </div>
            <div fxLayout="row" fxLayoutAlign="space-arround stretch" style="padding: 2em;">
                <mat-expansion-panel hideToggle fxFlex="100" class="example-headers-align">
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            Declaración hijos de 18 a 30 años
                        </mat-panel-title>
                        <mat-panel-description>
                            Ingrese los datos del hijo
                            <mat-icon>account_circle</mat-icon>
                        </mat-panel-description>
                    </mat-expansion-panel-header>

                    <!-- <mat-form-field>
                              <input matInput placeholder="First name">
                            </mat-form-field>
                        
                            <mat-form-field>
                              <input matInput type="number" min="1" placeholder="Age">
                            </mat-form-field> -->
                    
                        <mat-expansion-panel *ngFor="let a of hijos; let i = index" hideToggle style="margin-top: 1em;">
                            <mat-expansion-panel-header>
                                <mat-panel-title>
                                    Datos hijo/a
                                </mat-panel-title>
                                <mat-panel-description>
                                    Ingrese datos del hijos/as
                                    <mat-icon>person_add</mat-icon>
                                </mat-panel-description>
                            </mat-expansion-panel-header>


                            <mat-form-field appearance="outline" color="accent" required>
                                <mat-label>Sexo</mat-label>
                                <mat-select placeholder="Seleccionar" [(value)]="sexoSelected[i]">
                                    <mat-option value="Masculino">Masculino</mat-option>
                                    <mat-option value="Femenino">Femenino</mat-option>
                                </mat-select>
                            </mat-form-field>


                            <mat-form-field appearance="outline" color="accent" required>
                                <mat-label>Estado civil</mat-label>
                                <mat-select placeholder="Seleccionar" [(value)]="estadoCivilSelected[i]"> 
                                    <mat-option value="Casado">Casado</mat-option>
                                    <mat-option value="Soltero">Soltero</mat-option>
                                    <mat-option value="Separado">Seprado</mat-option>
                                    <mat-option value="Divorciado">Divorciado</mat-option>
                                    <mat-option value="Viudo">Viudo</mat-option>
                                </mat-select>
                            </mat-form-field>

                            <mat-form-field>
                                <mat-label>Fecha de nacimiento</mat-label>
                                <input matInput [min]="minDate" [max]="maxDate" placeholder="Date" [matDatepicker]="picker"  (focus)="picker.open()"
                                [(value)]="fechaNacimientoSelected" (dateChange)="DateChange($event,i)">
                                <mat-datepicker #picker startView="year" [startAt]="minDate"></mat-datepicker>
                            </mat-form-field>
                            <mat-datepicker #picker></mat-datepicker>


                            <mat-action-row>
                                <button type="button" mat-button color="warn" (click)="borrarHijo(i)">Borrar</button>
                                <button type="button"mat-button color="primary" (click)="guardarHijo(i)">guardar</button>
                            </mat-action-row>
                        </mat-expansion-panel>
                        <button mat-button type="button" color="warn" (click)="agregarHijo()">Agregar hijo</button>
                   
                </mat-expansion-panel>

            </div>
        </div>
        <div fxLayout="column" fxLayoutAlign="space-evenly stretch" class="fila">
            <div fxLayout="row" fxLayoutAlign="end strech">
                <button mat-raised-button type="button" style="background-color:#FFFFFF;" [routerLink]="['/menu']" >Cancelar</button>
                <button mat-raised-button style="background-color:#36AE47;" type="submit"  [disabled]="!polizaForm.valid">Confimar</button>
            </div>
        </div>
    </form>
</div>

<!-- <div fxLayout="row" fxLayoutAlign="space-arround start" style="padding-left: 2em;">
                <mat-form-field appearance="outline" color="accent">
                    <mat-label>Localidad</mat-label>
                    <input matInput placeholder="Placeholder">
                     <mat-icon matSuffix>sentiment_very_satisfied</mat-icon> -->
<!-- <mat-hint>Hint</mat-hint>
                </mat-form-field>
            </div> -->