mat-form-field.mat-form-field {
    font-size: 16px;
    padding-left: 2em;
  }

  mat-checkbox.mat-checkbox {
    font-size: 16px;
    padding-left: 20%;
    padding-top: 5%;
  }

.example-headers-align .mat-expansion-panel-header-title,
.example-headers-align .mat-expansion-panel-header-description {
  flex-basis: 0;
}

.example-headers-align .mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
}

/* mat-form-field {
  margin-right: 12px;
} */

.fila{
    margin-top: 2%;
}

table {
  width: 100%;
  margin: 10px;
}
button{
  margin: 2px;
}

.mat-row.hovered {
  background: #eee;
  cursor: pointer;
}

.mat-row.highlighted {
background: #999;
}